[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blow-fish"]
	path = themes/blow-fish
	url = https://github.com/nunocoracao/blowfish.git
