
:root {
  --yellow: #ffc600;
  --black: #272727;

  /* Interaction of Color */
  --box-color: #eeeeee;
  --tab-color-off: #22234a;
  --tab-color-on: #524d93;
  --shadow-half-1: #9090c5;
  --shadow-hafl-2: #c590ab;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 20px;
}

.item {
  background-color: var(--yellow);
}

/* #region Utility */
.emply-flex-cell {
  width: 50px;
}
/* #endregion */

/* #region Interaction of Color Shapes */
.interaction-of-color {
  width: 100%;
  height: 100%;
  --ioc-background: white;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-areas: 
            "control-palette color-palette"
            "result-palette result-palette";
  grid-template-columns: auto auto;
  background-color: var(--ioc-background);
  border-radius: 16px;
  box-shadow: 3px 3px 3px 3px var(--shadow-half-1), -3px -3px 3px 3px var(--shadow-hafl-2);
  padding: 30px;
  margin: 20px 0;
}

.nested-out-box {
  height: 200px;
  width: 200px;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nested-in-box {
  height: 50px;
  width: 50px;
  background-color: var(--box-color);
}

.svg-graphics {
  stroke: none;
  fill:  var(--box-color);
}

.nested-side-box {
  height: 15px;
  width: 75px;
  background-color: var(--box-color);
}

.interaction-of-color .control-palette {
  flex: 100%;
  margin-top: 20px;
  display: flex;
  column-gap: 3%;
  justify-content: left;
  flex-wrap: wrap;
}
.interaction-of-color .control-palette-label .control-palette {
  margin: 0px;
  column-gap: 10px;
}
.interaction-of-color .control-palette-label {
  grid-area: control-palette;
  flex: auto;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  /* column-gap: 3%; */
  display: grid;
  column-gap: 2%;
  grid-template-columns: auto 1fr;
  /* grid-template-areas: "label colors"; */
  justify-items: left;
  /* justify-content: center; */
}

.interaction-of-color .color-palette {
  flex: 100%;
  margin-top: 20px;
  display: flex;
  column-gap: 3%;
  /* margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto)); */
  /* grid-template-columns: repeat(auto-fill, minmax(min(50px, 100%), 2fr)); */
  justify-content: left;
  flex-wrap: wrap;
}
.interaction-of-color .color-palette-label .color-palette {
  margin: 0px;
  column-gap: 10px;
  /* justify-content: space-around; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(50px, auto)); */
}
.interaction-of-color .color-palette-label {
  grid-area: color-palette;
  flex: auto;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  /* column-gap: 3%; */
  display: grid;
  column-gap: 2%;
  grid-template-columns: auto 1fr;
  /* grid-template-areas: "label colors"; */
  justify-items: left;
  /* justify-content: center; */
}

.interaction-of-color label {
  color: #888;
}

.interaction-of-color .result-palette {
  grid-area: result-palette;
  /* justify-content: center; */
}
/* #endregion */

/* #region Tab Style */
.pattern-tabs {
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
  margin: 25px 0;
  align-items: start;
  /* align-content: center; */
}
.pattern-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  background: var(--tab-color-off); 
  font-weight: bolder;
}
.pattern-tabs [type=radio] {
  display: none;
}
.content {
  background: var(--tab-color-on);
  border-radius: 0 16px 16px 16px;
  padding: 20px;
  /* border: 5px solid #8e279b; */
  display: none;
}
[type=radio]:checked + .pattern-label {
  background: var(--tab-color-on);
  z-index: 2;
}
[type=radio]:checked + .pattern-label + .content {
  /* background: white; */
  display: block;
}

.tabs-vertical-label .pattern-tabs {
  grid-template-columns: 100px minmax(0, 1fr);
}
.tabs-vertical-label .pattern-label {
  border-radius: 8px 0 0 8px;
  grid-column: 1 / span 1;
  padding: 2px 0px 2px 10px;
  /* border: 2px solid #ccc;  */
  border-bottom: 1px solid grey;
}
.tabs-vertical-label [type=radio]:checked + .pattern-label {
  border-left: 1px solid white;
}
.tabs-vertical-label .content {
  grid-column: 2 / span 1;
  grid-row: 1 / span 5;
}

.tabs-horizontal-label .pattern-tabs {
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.tabs-horizontal-label .pattern-label {
  border-radius: 8px 8px 0 0;
  grid-row: span 1;
  padding: 2px 10px 2px 10px;
  /* border: 2px solid #ccc;  */
  border-bottom: 1px solid grey;
}
.tabs-horizontal-label [type=radio]:checked + .pattern-label {
  border-top: 1px solid grey;
  border-bottom: 0px;
  border-top: 1px solid white;
}
.tabs-horizontal-label .content {
  grid-row: -1 / span 1;
  grid-column: 1 / -1;
}
/* #endregion */

/* #region simple toggle*/
.simple-toggle {
  display: inline-block;
}
.simple-toggle[type=checkbox] ~ .interaction-of-color .toggle-enable + div {
  display: none;
}
.simple-toggle[type=checkbox] ~ .interaction-of-color .toggle-disable + div {
  display: block;
}
.simple-toggle[type=checkbox]:checked ~ .interaction-of-color .toggle-enable + div {
  display: block;
}
.simple-toggle[type=checkbox]:checked ~ .interaction-of-color .toggle-disable + div {
  display: none;
}
/* #endregion */

/* #region svg select */
.svg-canvas {
  --width-percentage: 80%;
  width: var(--width-percentage);
  /* --neg-width-percentage: calc((100% - var(--width-percentage))*0.5);
  transform: translate(var(--neg-width-percentage),0); */
  margin: auto;
}

.svg-select {
  display: inline-block;
}

.svg-select-nestedbox-option {
  display: none;
}
select[data-chosen="NestedBox"].svg-select ~ .interaction-of-color .svg-select-nestedbox-option {
  display: block;
}

.svg-select-xinbox-option {
  display: none;
}
select[data-chosen="XInBox"].svg-select ~ .interaction-of-color .svg-select-xinbox-option {
  display: block;
}

.svg-select-mix-rectangle-option {
  display: none;
}
select[data-chosen="Mix-Rectangle"].svg-select ~ .interaction-of-color .svg-select-mix-rectangle-option {
  display: block;
}

.svg-select-mix-circle-option {
  display: none;
}
select[data-chosen="Mix-Circle"].svg-select ~ .interaction-of-color .svg-select-mix-circle-option {
  display: block;
}

.svg-select-mix-cross-option {
  display: none;
}
select[data-chosen="Mix-Cross"].svg-select ~ .interaction-of-color .svg-select-mix-cross-option {
  display: block;
}
/* #endregion */

/* #region button style */
.canvas-button {
  margin-top: 5px;
  background-color: #235;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  /* font-weight: bold; */
  font-weight: light;
  /* padding: 10px 15px; */
  padding: 0px 15px;
  text-align: center;
  transition: 100ms;
  /* width: 100%; */
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .canvas-button:not(:disabled):focus, */
.canvas-button:not(:disabled):hover {
  outline: 0;
  background: var(--tab-color-on);
  box-shadow: 0 0 0 2px var(--shadow-half-1), 0 3px 8px 0 var(--shadow-hafl-2);
}

.canvas-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
/* #endregion */