
:root {
    --yellow: #ffc600;
    --black: #272727;

    /* Interaction of Color */
    --box-color: #eeeeee;
  }

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
}

.item {
    background-color: var(--yellow);
}

.interaction-of-color {
    width: 100%;
    --ioc-background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--ioc-background);
    border-radius: 16px;
    box-shadow: 2px 2px 10px 1px #888888;
    padding: 30px;
    margin: 20px 0;
}

.nested-out-box {
  height: 200px;
  width: 200px;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nested-in-box {
  height: 50px;
  width: 50px;
  background-color: var(--box-color);
}

.interaction-of-color .color-palette {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 2%;
  flex: 100%;
}

.interaction-of-color .color-picker {

}