:root{
    
}

.container {
    padding: 100px;
    background: darkgray;
    display: grid;
    grid-template-columns: 200px 1fr;
    place-content: center center;
}

.category {
    padding: 20px;
    display: grid;
    gap: 20px;
    color: whitesmoke;
}

.main-page {
    place-self: center center;
}

.item {
    font-size: 2ch;
}