
{{ $sbid := .sbid }}
{{ $seid := .seid }}
{{ $postfix := .contextPostfix }}

{{ $lsid := printf "ls-%s-%s" $sbid $postfix }}
{{ with .left_sid}}
    {{ $lsid = printf "%s-%s" . $postfix}}
{{ end }}
{{ $rsid := printf "rs-%s-%s" $sbid $postfix }}
{{ with .right_sid}}
    {{ $rsid = printf "%s-%s" . $postfix}}
{{ end }}

<div class="nested-out-box" id="{{ $sbid }}-{{ $postfix }}" style="--box-color: black;">
    <div class="nested-side-box" id="{{ $lsid }}"></div>
    <div class="nested-in-box" id="{{ $seid }}-{{ $postfix }}" style="--box-color: white;"></div>
    <div class="nested-side-box" id="{{ $rsid }}"></div>
</div>