{{ $contextPostfix := .contextPostfix }}
{{ $pickerId := print .id "-" .contextPostfix}}
{{ $selectors := split .selectors "," }}

<input class="color-picker" type="color" id="{{ $pickerId }}" value="{{ .color }}">
<script>
    var colorPicker = document.querySelector("#{{ $pickerId }}");
    setupInputValueBinding(colorPicker, (event) => {
        {{ range $selectors }}
        document.querySelectorAll("#{{ . }}-{{ $contextPostfix }}").forEach((targetItem) => {
            setStyle(event, targetItem, '--box-color');
          });
        {{ end }}
    });
</script>