<label> {{.label}}</label>
<div>
    {{/*  <label for="{{.id}}-{{.postfix}}">{{.label}}</label>  */}}
    <input style="width: 100%;" type="range" id="{{.id}}-{{.postfix}}" name="{{.label}}-{{.postfix}}"
         min="10" max="100"  value="55"
         onchange="" />
</div>

<script>
    var slider = document.querySelector("#{{.id}}-{{.postfix}}");
    setupInputValueBinding(slider, (event) => {
        document.querySelectorAll("#{{.postfix}} ~ .content .svg-canvas").forEach(
            (svgCanvas) =>{
                setStylePercentage(event, svgCanvas, '--width-percentage');
            }
        );
    });
</script>