{{ $showAuxline := 0 }}
{{ $leftAuxId := print "laux-default-" $.Ordinal }}
{{ $rightAuxId := print "raux-default-" $.Ordinal }}
{{ if .showAuxline }}
    {{ $showAuxline = 1}}
    {{ $leftAuxId = .leftAuxId }}
    {{ $rightAuxId = .rightAuxId }}
{{ end }}

{{ $graphicInputDict := (dict
    "postfix" .contextPostfix
    "leftOutId" .leftOutId
    "leftInId" .leftInId
    "rightOutId" .rightOutId
    "rightInId" .rightInId
    "showAuxline" $showAuxline
    "leftAuxId" $leftAuxId
    "rightAuxId" $rightAuxId
)}}

<div>
    <div class="svg-select-xinbox-option">
        {{ partial "SVG/XInBox.html" $graphicInputDict }}
    </div>
    <div class="svg-select-nestedbox-option">
        {{ partial "SVG/NestedBox.html" $graphicInputDict }}
    </div>
</div>