
{{ $leftOutId := .leftOutId }}
{{ $leftInId := .leftInId }}
{{ $rightOutId := .rightOutId }}
{{ $rightInId := .rightInId }}

{{ $postfix := .contextPostfix }}

{{ $showAuxline := 0 }}
{{ $leftAuxId := print "laux-default-" $.Ordinal }}
{{ $rightAuxId := print "raux-default-" $.Ordinal }}
{{ if .showAuxline }}
    {{ $showAuxline = 1}}
    {{ $leftAuxId = .leftAuxId }}
    {{ $rightAuxId = .rightAuxId }}
{{ end }}

{{ $graphicInputDict := (dict
    "postfix" $postfix
    "leftOutId" $leftOutId
    "leftInId" $leftInId
    "rightOutId" $rightOutId
    "rightInId" $rightInId
    "showAuxline" $showAuxline
    "leftAuxId" $leftAuxId
    "rightAuxId" $rightAuxId
)}}

{{ $graphicType := .graphicType}}
<div>
    {{ if eq $graphicType "XInBox"}}
        {{ partial "SVG/XInBox.html" $graphicInputDict }}
    {{ else }}
    {{/*  default type  */}}
    {{/*  {{ if eq $graphicType "NestedTwoBox"}}   */}}
        {{ partial "SVG/NestedTwoBox.html" $graphicInputDict }}
    {{ end }}
</div>