{{ $contextPostfix := ""}}
{{ with .Parent.Params }}
    {{ with .contextPostfix}}
        {{ $contextPostfix = . }}
    {{ end }}
{{ end }}
{{ $pickerId := print (.Get "id") "-" $contextPostfix}}
{{ $selectors := split (.Get "selectors") "," }}

<input class="color-picker" type="color" id="{{ $pickerId }}" value="{{ .Get "color"}}">
<script>
    {{ with .Get "selectors" }}
    var colorPicker = document.querySelector("#{{ $pickerId }}");
    setupColorPicker(colorPicker, (event) => {
        {{ range $selectors }}
        setStyle(event, document.querySelector("#{{ . }}-{{ $contextPostfix }}"), '--box-color');
        {{ end }}
    });

    {{ range $selectors }}
    setStyleProperty(colorPicker.value, document.querySelector("#{{ . }}-{{ $contextPostfix }}"), '--box-color');
    {{ end }}
    {{ end }}
</script>