{{ $contextPostfix := "default" }}
{{ $tabGroupId := "default" }}
{{ $label := "default"}}
{{ $checked := ""}}
{{ with partial "Helper/TabHeader.html" .}}
    {{ $contextPostfix = .contextPostfix }}
    {{ $tabGroupId = .tabGroupId }}
    {{ $label = .label}}
    {{ $checked = .checked}}
{{ end }}


{{ partial "TabFrame.html" (dict "tabId" $contextPostfix "label" $label "tabGroupId" $tabGroupId "checked" $checked) }}
<div class="content">
    {{/*  {{ partial "DropdownSelector.html" 
        (dict 
            "contextPostfix" $contextPostfix
            "selectors" "Mix-Rectangle,Mix-Circle,Mix-Cross"
        ) }}  */}}
    <div class="interaction-of-color">
        {{ partial "SVGColorMixSame.html" 
            (dict 
                "colorId" "c" 
                "colorIdMix1" "cMix1"
                "colorIdMix2" "cMix2"
                "colorIdBg" "cBg"
                "postfix" $contextPostfix
            ) }}
        <div class="color-palette">
            <label> Cards Color</label>
            {{ partial "ColorPicker.html" 
                (dict "id" "c-picker-1" "color" "#1a71cf" 
                    "selectors" "c"  "contextPostfix" $contextPostfix) }}
        </div>
        <div class="color-palette">
            <label> Mix Color</label>
            {{ partial "ColorPicker.html" 
                (dict "id" "c-picker-mix-1" "color" "#115daf" 
                    "selectors" "cMix1" "contextPostfix" $contextPostfix) }}
            {{ partial "ColorPicker.html" 
                (dict "id" "c-picker-mix-2" "color" "#1b4f88" 
                    "selectors" "cMix2" "contextPostfix" $contextPostfix) }}
        </div>
        <div class="color-palette">
            <label> Background Color</label>
            {{ partial "ColorPicker.html" 
                (dict "id" "c-picker-bg" "color" "#8da3bb" 
                    "selectors" "cBg" "contextPostfix" $contextPostfix) }}
        </div>
    </div>
</div>