<script>
    function setupColorPicker(picker, setStyleLambda) {
        picker.addEventListener("input", setStyleLambda, false);
        picker.addEventListener("change", setStyleLambda, false);
    }

    function setStyleProperty(propertyValue, target, propertyName) {
        target.style.setProperty(propertyName, propertyValue);
    }

    function setStyle(event, target, propertyName) {
        setStyleProperty(event.target.value, target, propertyName);
    }

    window.addEventListener("load",function(){
        var dropdowns = document.querySelectorAll(".svg-select");
        dropdowns.forEach((dropdown) => {
            dropdown.dataset.chosen = dropdown.value;
        });
    },false);
</script>