<script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
      }
    }
</script>

<div id="container" style="width:auto;height:300px"></div>

<script type="module">

    {{/*  import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

    const controls = new OrbitControls( camera, renderer.domElement );
    const loader = new GLTFLoader();  */}}

    //#region header
    import * as THREE from 'three';
    import Stats from 'three/addons/libs/stats.module.js';
    let container, stats;
    let camera, scene, renderer;
    let mouseX = 0, mouseY = 0;
    //let windowHalfX = window.innerWidth / 2;
    //let windowHalfY = window.innerHeight / 2;
    let cHalfX, cHalfY;
    let cWidth, cHeight;
    //#endregion

    //#region main call functions
    init();
    animate();
    //#endregion

    //#region init()
    function init() {
        container = document.getElementById('container');
        cWidth = container.offsetWidth;
        cHeight = container.offsetHeight;
        cHalfX = cWidth / 2;
        cHalfY = cHeight / 2;

        // camera setup
        camera = new THREE.PerspectiveCamera( 20, cWidth / cHeight, 1, 10000 );
        camera.position.z = 1800;

        // Create scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0x000000 );

        // Create light
        const light = new THREE.DirectionalLight( 0xffffff, 3 );
        light.position.set( 0, 0, 1 );
        scene.add( light );

        // Create 3 spheres
        // IcosahedronGeometry
        const radius = 200;
        const geometry1 = new THREE.IcosahedronGeometry( radius, 1 );
        const count = geometry1.attributes.position.count;
        geometry1.setAttribute('color', new THREE.BufferAttribute( new Float32Array( count * 3 ), 3 ) );

        const geometry2 = geometry1.clone();
        const geometry3 = geometry1.clone();

        // Set their color
        const color = new THREE.Color();
        const positions1 = geometry1.attributes.position;
        const positions2 = geometry2.attributes.position;
        const positions3 = geometry3.attributes.position;
        const colors1 = geometry1.attributes.color;
        const colors2 = geometry2.attributes.color;
        const colors3 = geometry3.attributes.color;

        for ( let i = 0; i < count; i ++ ) {
            color.setHSL( ( positions1.getY(i) / radius + 1 ) / 2, 1.0, 0.5, THREE.SRGBColorSpace );
            colors1.setXYZ( i, color.r, color.g, color.b );

            color.setHSL( 0, ( positions2.getY(i) / radius + 1 ) / 2, 0.5, THREE.SRGBColorSpace );
            colors2.setXYZ( i, color.r, color.g, color.b );

            color.setRGB( 1, 0.8 - ( positions3.getY(i) / radius + 1 ) / 2, 0, THREE.SRGBColorSpace );
            colors3.setXYZ( i, color.r, color.g, color.b );
        }

        // Create a phong material
        const material = new THREE.MeshPhongMaterial( {
            color: 0xffffff,
            flatShading: false,
            vertexColors: true,
            shininess: 1000,
        } );

        // Create a wireframe material
        const wireframeMaterial = new THREE.MeshBasicMaterial( { color: 0x000000, wireframe: true, transparent: true } );

        // Create three Mesh filled with geometry and material
        let mesh = new THREE.Mesh( geometry1, material );
        let wireframe = new THREE.Mesh( geometry1, wireframeMaterial );
        mesh.position.x = - 400;
        mesh.rotation.x = - 1.87;
        //mesh.add( wireframe );
        scene.add( mesh );

        mesh = new THREE.Mesh( geometry2, material );
        wireframe = new THREE.Mesh( geometry2, wireframeMaterial );
        mesh.position.x = 400;
        //mesh.add( wireframe );
        scene.add( mesh );

        mesh = new THREE.Mesh( geometry3, material );
        wireframe = new THREE.Mesh( geometry3, wireframeMaterial );
        //mesh.add( wireframe );
        scene.add( mesh );

        // Create renderer
        renderer = new THREE.WebGLRenderer( { antialias: true } );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( cWidth, cHeight );
        container.appendChild( renderer.domElement );

        //stats = new Stats();
        //container.appendChild( stats.dom );

        // event listener
        document.addEventListener( 'mousemove', onDocumentMouseMove );
        window.addEventListener( 'resize', onWindowResize );
    }

    function onWindowResize() {
        cWidth = container.offsetWidth;
        cHeight = container.offsetHeight;

        cHalfX = cWidth / 2;
        cHalfY = cHeight / 2;

        camera.aspect = cWidth / cHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( cWidth, cHeight );

    }

    function onDocumentMouseMove( event ) {
        mouseX = ( event.clientX - cHalfX );
        mouseY = ( event.clientY - cHalfY );
    }
    //#endregion

    //#region animate

    function animate() {

        requestAnimationFrame( animate );

        render();
        //stats.update();

    }

    function render() {

        camera.position.x += ( mouseX - camera.position.x ) * 0.05;
        camera.position.y += ( - mouseY - camera.position.y ) * 0.05;

        camera.lookAt( scene.position );

        renderer.render( scene, camera );
    }
    //#endregion

</script>