{{/*  must use before the canvas and together with toggleEnable and toggle Disable template  */}}
{{/*  {{ $toggleGroupId := .Get "toggleGroupId" }}  */}}
{{ $label := .Get "label"}}
{{ $contextPostfix := ""}}
{{ with .Parent.Params }}
    {{ with .tabId}}
        {{ $contextPostfix = . }}
    {{ end }}
{{ end }}
<label for="{{$label}}-{{$contextPostfix}}" class="simple-toggle-label">{{$label}}</label>
<input class="simple-toggle" type="checkbox" id="{{$label}}-{{$contextPostfix}}" {{ with .Get "checked" }} checked {{ end }}>