{{ $contextPostfix := "default" }}
{{ $tabGroupId := "default" }}
{{ $label := "default"}}
{{ $checked := ""}}
{{ with partial "Helper/TabHeader.html" .}}
    {{ $contextPostfix = .contextPostfix }}
    {{ $tabGroupId = .tabGroupId }}
    {{ $label = .label}}
    {{ $checked = .checked}}
{{ end }}


{{ partial "TabFrame.html" (dict "tabId" $contextPostfix "label" $label "tabGroupId" $tabGroupId "checked" $checked) }}
<div class="content">
    {{ partial "DropdownSelector.html" 
        (dict 
            "contextPostfix" $contextPostfix
            "selectors" "Mix-Rectangle,Mix-Circle,Mix-Cross"
        ) }}
    <div class="interaction-of-color">
        <div class="control-palette-label">
            {{ $sliderInfo := (dict
                "label" "Scale"
                "id" "sl-1"
                "postfix" $contextPostfix
            )}}
            {{ partial "MinMaxSlider.html" $sliderInfo}}
            <label> Random</label>
            <div class="control-palette">
                {{ partial "RandomButton.html" 
                    (dict "postfix" $contextPostfix
                        "label" "1+2"
                        "selectors" "c-picker-1,c-picker-2"
                        "emptyIds" "c-picker-mix")
                }}
                {{ partial "RandomButton.html" 
                    (dict  "postfix" $contextPostfix
                        "label" "1+mix"
                        "selectors" "c-picker-1,c-picker-mix"
                        "emptyIds" "c-picker-2")
                }}
                {{ partial "RandomButton.html" 
                    (dict  "postfix" $contextPostfix
                        "label" "2+mix"
                        "selectors" "c-picker-2,c-picker-mix"
                        "emptyIds" "c-picker-1")
                }}
            </div>
        </div>
        <div class="color-palette-label">
            <label> Cards Color</label>
            <div class="color-palette">
                {{ partial "ColorPicker.html" 
                    (dict "id" "c-picker-1" "color" "#1a71cf" 
                        "selectors" "c1"  "contextPostfix" $contextPostfix) 
                }}
                {{ partial "ColorPicker.html" 
                    (dict "id" "c-picker-2" "color" "#a1489e" 
                        "selectors" "c2" "contextPostfix" $contextPostfix) 
                }}
            </div>
            <label> Mixed Color</label>
            <div class="color-palette">
                {{ partial "ColorPicker.html" 
                    (dict "id" "c-picker-mix" "color" "#9468c9" 
                        "selectors" "cMix" "contextPostfix" $contextPostfix) 
                }}
            </div>
            <label> Background</label>
            <div class="color-palette">
                {{ partial "ColorPicker.html" 
                    (dict "id" "c-picker-bg" "color" "#314f70" 
                        "selectors" "cBg" "contextPostfix" $contextPostfix) 
                }}
            </div>
        </div>
        <div class="result-palette">
            {{ partial "SVGColorMixTwo.html" 
                (dict 
                    "colorId1" "c1" 
                    "colorId2" "c2" 
                    "colorIdMix" "cMix"
                    "colorIdBg" "cBg"
                    "postfix" $contextPostfix
                ) }}
        </div>
    </div>
</div>