{{ $contextPostfix := "default" }}
{{ $tabGroupId := "default" }}
{{ $label := "default"}}
{{ $checked := ""}}
{{ with partial "Helper/TabHeader.html" .}}
    {{ $contextPostfix = .contextPostfix }}
    {{ $tabGroupId = .tabGroupId }}
    {{ $label = .label}}
    {{ $checked = .checked}}
{{ end }}

{{ $is4Colors := 3}}
{{ with .Get "is4Colors"}}
    {{ $is4Colors = 4}}
{{ end }}

{{ partial "TabFrame.html" (dict "tabId" $contextPostfix "label" $label "tabGroupId" $tabGroupId "checked" $checked) }}
<div class="content">
    {{ partial "DropdownSelector.html" 
        (dict 
            "contextPostfix" $contextPostfix
            "selectors" "NestedBox,XInBox"
        ) }}
    {{ partial "ToggleGroup.html" (dict "label" "Show Aux Line" "contextPostfix" $contextPostfix) }}
    <div class="interaction-of-color">
        <div class="control-palette-label">
            {{ $sliderInfo := (dict
                "label" "Scale"
                "id" "sl-1"
                "postfix" $contextPostfix
                "min" "0"
                "max" "100"
            )}}
            {{ partial "MinMaxSlider.html" $sliderInfo}}
        </div>
        <div class="color-palette-label">
            {{ if eq $is4Colors 3}}
                <label> Base Color</label>
                <div class="color-palette">
                    {{ partial "ColorPicker.html" 
                        (dict "id" "b-picker-1" "color" "#A0BEDC" 
                            "selectors" "lb-1,lb-2" 
                            "contextPostfix" $contextPostfix) }}
                    {{ partial "ColorPicker.html" 
                        (dict "id" "b-picker-2" "color" "#F5E664" 
                            "selectors" "rb-1,rb-2" 
                            "contextPostfix" $contextPostfix) }}
                </div>
                <label> Mix Color</label>
                <div class="color-palette">
                    {{ partial "ColorPicker.html" 
                        (dict "id" "f-picker" "color" "#B9D296" 
                            "selectors" "le-1,le-2,re-1,re-2,laux,raux" 
                            "contextPostfix" $contextPostfix) }}
                </div>
            {{ else }}
                <label> Base Color</label>
                <div class="color-palette">
                    {{ partial "ColorPicker.html" 
                        (dict "id" "b-picker-1" "color" "#888888"
                            "selectors" "lb-1,lb-2" 
                            "contextPostfix" $contextPostfix) }}
                    {{ partial "ColorPicker.html" 
                        (dict "id" "b-picker-2" "color" "#000000" 
                            "selectors" "rb-1,rb-2" 
                            "contextPostfix" $contextPostfix) }}
                </div>
                <label> Mix Color</label>
                <div class="color-palette">
                    {{ partial "ColorPicker.html" 
                        (dict "id" "f-picker-1" "color" "#BBBBBB" 
                        "selectors" "le-1,le-2,laux" 
                            "contextPostfix" $contextPostfix) }}
                    {{ partial "ColorPicker.html" 
                        (dict "id" "f-picker-2" "color" "#999999" 
                        "selectors" "re-1,re-2,raux" 
                            "contextPostfix" $contextPostfix) }}
                </div>
            {{ end }}
        </div>
        <div class="result-palette">
            {{ partial "ToggleDisable.html" . }}
            {{ partial "SVGColorPattern.html" 
                (dict 
                    "leftOutId" "lb-1" 
                    "leftInId" "le-1" 
                    "rightOutId" "rb-1" 
                    "rightInId" "re-1" 
                    "contextPostfix" $contextPostfix
                )
            }}
            {{ partial "ToggleEnable.html" . }}
            {{ partial "SVGColorPattern.html" 
                (dict 
                    "leftOutId" "lb-2" 
                    "leftInId" "le-2" 
                    "rightOutId" "rb-2" 
                    "rightInId" "re-2" 
                    "showAuxline" "yes" 
                    "leftAuxId" "laux" 
                    "rightAuxId" "raux"
                    "contextPostfix" $contextPostfix
                )
            }}
        </div>
    </div>
</div>